@width: 600px;


body {
	font-family:'Raleway', sans-serif;
	background-color:#0B5793;
	margin: 0;
	padding: 0;
}

* {
	box-sizing:border-box;
}

a, a:link, a:visited, a:active {
	color:blue;
	text-decoration:none;
}
a:hover, a:focus {
	text-decoration:underline;
}

.clearfix:after {
	content:"";
	display:table;
	clear:both;
}

.container {
	width: @width;
	margin: 0 auto;
}


/* Header */
.site-switcher {
	background-color: #33333E;
	color: #eee;
	border-bottom: #999 1px solid;
	font-size:11px;
	text-transform: uppercase;
	box-shadow: 0px 5px 10px 2px rgba(0,0,10,0.2);

	.container {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	.title {
		display: inline-block;
		margin-right: 2px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;

		li {
			display: inline-block;
			margin-left:10px;

			a {
				color: #ddd;

				&:hover {
					color: white;
				}
			}
		}
	}
}


/* Cards */
.cards {
	.card {
		width: @width;
		margin:20px auto;
		background-color:white;
		border:1px solid #bbb;
		border-radius:2px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		p {
			margin:10px 10px 10px 20px;
		}

		.title {
			padding-left:20px;
			font-size:32px;
			font-weight:bold;
		}

		.bits-wrapper {
			border-top:1px solid #ccc;

			.col {
				float:left;
				text-align:center;
				padding:10px;
			}

			&.one-col .col {
				width:100%;
			}
			&.two-col .col {
				width:50%;
			}
			&.three-col .col {
				width:33%;
			}
		}
	}

	.card-top {
		padding: 8px;
	}

	.content-wrapper {
		margin-left: 170px;
	}

	.img-wrapper {
		border: 1px solid #ccc;
		padding: 4px;
		background-color: #eee;
		float: left;
		height: 160px;
		width: 160px;

		&> img {
			width: 150px;
			height: 150px;
		}
	}

	.subtitle {
		padding-left: 21px;
		font-size: 14px;
	}

	.main-card {
		margin-top: 50px;
		margin-bottom: 50px;

		.title {
			font-size: 44px;
		}
	}

	.work {
		list-style: none;
		padding-left: 0;
		margin: 10px 0 0 0;
		font-size: 15px;
		line-height: 22px;

		li {
			padding-left:20px;
			background-repeat:no-repeat;
			background-position:0 50%;
			background-size:15px 15px;

			&.polymathian {
				background-image:url(/img/polymathian.png);
			}
			&.uq {
				background-image:url(/img/uq.png);
			}
			&.uqcs {
				background-image:url(/img/uqcs.png);
			}
		}
	}

	.ext-profile {
		display:block;
		width:48px;
		height:48px;
		background-repeat:no-repeat;
		background-position:50% 50%;
		background-size:100% 100%;
		margin:0 auto;

		&.email {
			background-image:url(/img/email2.png);
		}
		&.linkedin {
			background-image:url(/img/linkedin.png);
		}
		&.github {
			background-image:url(/img/github.png);
		}
	}

	h2 {
		font-size:38px;
		font-weight:bold;
		text-align:center;
		color: #fefefd;
		text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
		margin-bottom:20px;
	}

	/* Stats */
	.stat-n {
		font-size:22px;
		font-weight:600;
	}

	/* Bits and Pieces */
	.google-play-badge {
		width:129px;
		height:50px;
		display:block;
		background-image:url(/img/google-play-badge.png);
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
}


/* Footer */
footer, .footer {
	text-align:center;
	font-size:9px;
	color:white;
	padding:10px;

	a, a:link, a:visited, a:active, a:focus, a:hover {
		color:white;
	}
}
