body {
  font-family: 'Raleway', sans-serif;
  background-color: #0B5793;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a,
a:link,
a:visited,
a:active {
  color: blue;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 600px;
  margin: 0 auto;
}
/* Header */
.site-switcher {
  background-color: #33333E;
  color: #eee;
  border-bottom: #999 1px solid;
  font-size: 11px;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 10, 0.2);
}
.site-switcher .container {
  padding-top: 6px;
  padding-bottom: 6px;
}
.site-switcher .title {
  display: inline-block;
  margin-right: 2px;
}
.site-switcher ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.site-switcher ul li {
  display: inline-block;
  margin-left: 10px;
}
.site-switcher ul li a {
  color: #ddd;
}
.site-switcher ul li a:hover {
  color: white;
}
/* Cards */
.cards {
  /* Stats */
  /* Bits and Pieces */
}
.cards .card {
  width: 600px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cards .card p {
  margin: 10px 10px 10px 20px;
}
.cards .card .title {
  padding-left: 20px;
  font-size: 32px;
  font-weight: bold;
}
.cards .card .bits-wrapper {
  border-top: 1px solid #ccc;
}
.cards .card .bits-wrapper .col {
  float: left;
  text-align: center;
  padding: 10px;
}
.cards .card .bits-wrapper.one-col .col {
  width: 100%;
}
.cards .card .bits-wrapper.two-col .col {
  width: 50%;
}
.cards .card .bits-wrapper.three-col .col {
  width: 33%;
}
.cards .card-top {
  padding: 8px;
}
.cards .content-wrapper {
  margin-left: 170px;
}
.cards .img-wrapper {
  border: 1px solid #ccc;
  padding: 4px;
  background-color: #eee;
  float: left;
  height: 160px;
  width: 160px;
}
.cards .img-wrapper > img {
  width: 150px;
  height: 150px;
}
.cards .subtitle {
  padding-left: 21px;
  font-size: 14px;
}
.cards .main-card {
  margin-top: 50px;
  margin-bottom: 50px;
}
.cards .main-card .title {
  font-size: 44px;
}
.cards .work {
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 22px;
}
.cards .work li {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 15px 15px;
}
.cards .work li.polymathian {
  background-image: url(/img/polymathian.png);
}
.cards .work li.uq {
  background-image: url(/img/uq.png);
}
.cards .work li.uqcs {
  background-image: url(/img/uqcs.png);
}
.cards .ext-profile {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  margin: 0 auto;
}
.cards .ext-profile.email {
  background-image: url(/img/email2.png);
}
.cards .ext-profile.linkedin {
  background-image: url(/img/linkedin.png);
}
.cards .ext-profile.github {
  background-image: url(/img/github.png);
}
.cards h2 {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: #fefefd;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}
.cards .stat-n {
  font-size: 22px;
  font-weight: 600;
}
.cards .google-play-badge {
  width: 129px;
  height: 50px;
  display: block;
  background-image: url(/img/google-play-badge.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* Footer */
footer,
.footer {
  text-align: center;
  font-size: 9px;
  color: white;
  padding: 10px;
}
footer a,
.footer a,
footer a:link,
.footer a:link,
footer a:visited,
.footer a:visited,
footer a:active,
.footer a:active,
footer a:focus,
.footer a:focus,
footer a:hover,
.footer a:hover {
  color: white;
}
